.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    min-height: 60px;
    padding: 6px 10px;

    background-color: #083045;

    align-items: center;
}

.logo {
    display: inline-block;

    padding: 4px 10px;

    color: #373c3e;
    background-color: #eed369;

    font-family: "Anton", sans-serif;
    font-size: 2rem;
}