.widget-wrapper {
    position: fixed;
    right: 25px;
    bottom: 25px;

    width: 300px;
    height: 380px;
}

.widget__spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}