.widget-cover {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;

    content: "";
    cursor: pointer;

    /* background-image: url("/src/images/cover.png"); */
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.widget-cover:hover {
    /* background-image: url("./images/coverHovered.png"); */
    background-color: yellow;
}