.form-field {
    font-family: "Open Sans", sans-serif;
}

.form-field__name {
    margin: 20px 0;

    color: #083145;

    font-size: 1.8rem;
}

.form-field__input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;

    color: #39596a;
    border: 3px solid #cdd5d9;

    font-size: 1.6rem;
}

.form-field__input::placeholder {
    color: #a9b6c5;

    font-weight: 200;
}
